<link rel="stylesheet" href="/styles/home.css">

<footer class="footer">
  <div class="wrapper">
    <div class="footer-logo-headline">
      <img class="footer-logo" src="/assets/logo.png" alt="Logo">
      <p>Hot Beans Web</p>
    </div>

    <div class="navigations">
      <div class="navigation1">
        <h3>Socialize with us</h3>
        <p>contact us via social media</p>

        <div class="icons">
          <i class='bx bxl-instagram'></i>
          <i class='bx bxl-twitter'></i>
          <i class='bx bxl-linkedin-square'></i>
          <i class='bx bxl-facebook-square'></i>
        </div>
      </div>

      <div class="navigation2">
        <h3>Navigation</h3>

        <div class="navigation-links">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Our Services</a>
          <a href="#">Contact Us</a>
        </div>
      </div>
    </div>

    <div class="copyright">
      <% if(currentYear) { %>
      <p>Copyright <%= currentYear %> Hot Beans Web.</p>
      <% } %>
    </div>
  </div>
</footer>