<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/position1.css">
  <!-- google fonts: Roboto, Archivo -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
  <!-- Box icons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Job Description</title>
</head>

<body>
  <%- include("../partials/header.ejs") %>

  <main>
    <section class="position-description wrapper">
      <div class="position-heading">
        <div class="position-heading-contents">
          <h2>Junior Back end web developer</h2>
          <p>London - Hybrid work</p>

          <div class="pay">
            <p>£85,000 - £110,000 a year</p>
          </div>
        </div>

        <div class="apply-btn">
          <a href="application-form/">Apply now</a>
        </div>
      </div>

      <div class="position-requirements">
        <h3>Job Details</h3>

        <p>We are looking for an individual to play a key role in supporting the founding team developing two of our products - Gaia’s Biodiversity Unit Marketplace and Carbon Accounting platforms.

          The ideal candidate will be looking to start their career in software development with the added bonus of an interest in green and environmental policy.

          This is an entry-level role and, as such, there is no prior experience required. You will be specifically trained directly by the founders.

          Although we do not require any experience, the successful candidate must have a good core understanding of programming, in any language, and an aptitude to learn.

          The role is hybrid with 3 days in our office in Covent Garden, London, and 2 days remote.</p>

        <h3>The Role and Core Responsibilities:</h3>

        <ul>
          <li>You will join our agile development team, working on a variety of tasks - ranging from new features, to bug fixing and software testing.</li>
          <li>You will work on both frontend and backend development. Our tech stack includes React, Express, Redux, Node and PostgreSQL.</li>
          <li>You will receive invaluable 1-2-1 training from senior software developers</li>
          <li>You will help drive innovation, offer new ideas and think up fresh ways of tackling problems.</li>
        </ul>

        <h3>Preferred Skills and Experience:</h3>

        <ul>
          <li>BSc undergraduate degree in Computer Science or related field.</li>
          <li>Experience of React, Express, Redux, Node, PostgreSQL and AWS are beneficial.</li>
          <li>Examples of development projects - either personal projects or commercial projects.</li>
        </ul>

        <p class="more-details">We will accept applications from those who do not meet all the above criteria, and those who are yet to graduate.</p>

        <h3>Salary & Benefits:</h3>

        <ul>
          <li>This role pays up to £100,000</li>
          <li>Profit share in the business (it is important to us that if Gaia succeeds, everyone succeeds)</li>
          <li>30 days holiday</li>
          <li>Flexible working</li>
          <li>Dedicated training time</li>
          <li>Regular events and social plans</li>
        </ul>

        <h3>Benefits:</h3>

        <ul>
          <li>Casual dress</li>
          <li>Profit sharing</li>
          <li>Referral programme</li>
          <li>Work from home</li>
        </ul>

        <h3>Schedule:</h3>

        <ul>
          <Li>Monday to Friday</Li>
          <Li>No weekends</Li>
        </ul>

        <div class="position-more-info">
          <p>Work Location: Hybrid remote in London</p>
          <p>Application deadline: 17/05/2024</p>
          <p>Reference ID: Junior Software Developer</p>
          <p>Expected start date: 01/06/2024</p>
        </div>
      </div>
    </section>
  </main>

  <%- include("../partials/mfooter.ejs") %>

</html>